.clients{
&__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
    margin-top: 50px;
    fill: rgba(175, 177, 184, 1);
    flex-wrap: wrap;
    //justify-content: space-between;
  }
  &__link {
    width: 210px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgba(175, 177, 184, 1);

  &:hover,
  &:focus {
    fill:$main-color;
    border-color:$main-color;
  }
  }
@include tablet {
  gap: 30px;
  &__items {
    flex-basis: calc((100% - 2 * 30px) / 3);
    text-align: left;
  }
  &__link{
    width: 226px;
    height: 92px;
  }
}
@include desktop {
  &__items {
    flex-wrap: nowrap;
  }
  &__link{
    width: 170px;
    height: 92px;
  }
}
}