.footer {
  background:$hero-item-background-color;
  //padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

 &__blocks {
  display:block;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
 }
 //&__left {
  //padding-right: 70px;
 //}
  &__logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
  &--span {
    color: rgba(255, 255, 255, 1);
  }
  }
  &__contact{
    margin-bottom: 60px;
  &--item {
    padding-bottom: 9px;
  }
  &--adress {

    font-style: normal;
    font-family:$main-font;
    color:$focus-color;
    &:hover,
    &:focus {
      color:$main-color;
    }
  }
  &--mailphone {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus {
      color:$main-color;
    }
  }
  }
  &__social {
    display:flex;
  //padding-right: 78px;
  //margin-top: 12px;
  margin-bottom:60px;
  justify-content: center;
  &__--title {
    align-items: center;
    font-family:$main-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color:$focus-color;
    text-transform: uppercase;
    justify-content: center;
  }
  &--link {
    display:flex;
    width: 44x;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    fill:$focus-color;
    &:hover,
    &:focus {
      background:$main-color;
      fill:$focus-color;
    }
  }
  }
  &__form{
  display:flex;
  //box-sizing: border-box;
 flex-direction: column;
  text-align: center;
  justify-content: center;
  }
  &__newsletter {
    flex-wrap: wrap;
  display:block;
  text-align: center;
  margin-top: 20px;
  justify-content: center;
  //margin-right: 12px;
  &--input {
    display:block;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    background: #2f303a;
    margin-bottom: 20px;
    color:$focus-color;
  }
  }
  &__btn {
    display:flex;
  position: relative;
  padding: 10px 76px 10px 42px;
  background-color:$main-color;
  color:$focus-color;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  //margin-left: 12px;
  text-align: center;
  align-items: center;
  &--svg {
    fill:$focus-color;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 13px;
    right: 28px;
  }
  }
  &__icons {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  }
  &__title {
    font-family:$main-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color:$focus-color;
    text-transform: uppercase;
    display:flex;
    text-align: center;
  }
  @include tablet {
    &__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__contact {
      margin-right: 144px;
    }
    &__newsletter-input {
      width: 450px;
    }
  }
  @include desktop {
    &__wrapper {
      flex-wrap: nowrap;
      align-items: baseline;
      gap: 69px;
    }
    &__contact {
      margin-right: 0;
    }
    &__contact,
    &__social {
      text-align: left;
      margin-bottom: 0;
    }
    &__contact-items {
      text-align: left;
    }
    &__form {
      width: 570px;
      text-align: left;
    }
    &__newsletter {
      flex-direction: row;
      align-items: baseline;
    }
    &__newsletter-input {
      width: 358px;
      margin-right: 12px;
    }
  }
}