.is-active {
    position: relative;
  
  &::after {
    content: '';
    position: absolute;
    background: rgba(33, 150, 243, 1);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    top: 48px;
    display: block;
  }
}
  .page-header {
    border-bottom: 1px solid #ececec;
    &__svg{   
      position: absolute;
      top: 10px;
      right: 15px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus{
        fill:$main-color;
      }
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    &__menu {
      display:flex;
    column-gap: 60px;
    justify-content: space-between;
    font-style:$main-font;
    color:$navigation-color;
    font-weight: 500;
    &-link{  
      font-style:$main-font;
      color:$navigation-color;
      font-weight: 500;
      &:hover,
      &:focus {
        color:$main-color;
      }
    }
    &-item{  
      font-style:$main-font;
      color:$navigation-color;
      font-weight: 500;
      &:hover,
      &:focus {
        color:$main-color;
      }
    }
    }
    &__contact {
    display: block;
    gap: 50px;
    fill:$navigation-color;
    justify-content: center;
    &-svg {
      margin-right: 10px;
    }
    &-list {
      display: flex;
      align-items: center;
      &:hover,
      &:focus {
        color:$main-color;
        fill:$main-color;
      }
    }
    &-item{
      font-style:$main-font;
      color:$navigation-color;
      font-weight: 500;
      &:focus,
      &:hover{
        color:$main-color;
      }
    }
    @include desktop {
      display: flex;
    }
    }
    &__nav {
    display: flex;
    column-gap: 93px;
    align-items: center;
    }
  }
  .logo{
    font-family:$secondary-font;
    font-size: 26px;
    line-height: 1.192;
    color:$main-color;
  &__first-part {
    color:$secondary-color;
  }
}
@media (max-width: 767px) {
  .header__menu, .header__contact {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-header__svg {
    display: none;
  }
}