.cards {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    justify-content: center;
    text-align: center;
    &__item {
      position: relative;
    }
    & > .cards__text {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 70px;
      padding: 27px;
      background-color: rgba(47, 48, 58, 0.8);
      color: #fff;
    }
  }
  
  
    .offer {
      display: flex;
      column-gap: 30px;
      justify-content: space-between;
    }
  .test {display:none;}
  @include desktop {
    .test{display:flex;}
  }