$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$main-color: #2196f3;
$secondary-color: #212121;
$navigation-color: #757575;
$button-background-color: #f5f4fa;
$focus-color: #ffffff;
$hero-item-background-color: #2f303a;